/*!
 * SPDX-FileCopyrightText: 2017-2024 Enedis
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */

// Header Base
@import "bootstrap/scss/bootstrap";
@import "../layout-variables";

.app-header {
  height: $app-header-height;
  display: flex;
  align-items: center;
  align-content: center;
  z-index: 21;
  transition: all .2s;
  width: 100%;

  .logo-src {
    display: none;
  }

  .app-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: $app-header-height;
    transition: all .2s;
      width: 100%;

    .app-header-right {
      align-items: center;
      display: flex;
      padding: 0 $layout-spacer-x 0 0;
    }

    .app-header-left {
      padding: 0 $layout-spacer-x;
      height: $app-header-height;
      align-items: center;
      display: flex;
    }
    .app-header-middle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
}

.close-sidebar-btn {
  font-size: x-large;
  cursor: pointer;
  color: var(--bs-white);
}

mark {
  background-color: transparent !important;
  color: inherit !important;
  border-bottom: 3px solid rgba(100, 100, 100, 0.7) !important;
  padding: 0 1px !important;
}

